{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

0{% block content %}
  <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 main">
    <h1>{% trans "Change Password" %}</h1>

    <p>{% trans 'Your password is now changed.' %}</p>
  </div>
{% endblock %}