{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password44" %}{% endblock %}

{% block content %}
  <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 main">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
  </div>
{% endblock %}ran