{% extends "account/base.html" %}

{% load i18n crispy_forms_tags %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
  <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 main">
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
      {% crispy form %}
      <button class="btn btn-primary" type="submit">{% trans 'Reset My Password' %}</button>
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
  </div>
{% endblock %}