{% extends "account/base.html" %}

{% load static i18n crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 main">
    <h1>{% trans "Sign Up" %}</h1>

    <p>
      {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% crispy form %}
      <div class="container pircing">
        <div class="row">
          {% for subscription in subscriptions %}
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

              <!-- PRICE ITEM -->
              <div class="panel price panel-{{ subscription.color }}">
                <div class="panel-heading arrow_box text-center">
                  <h3>{{ subscription.name }}</h3>
                </div>
                <div class="panel-body text-center">
                  <p class="lead" style="font-size:40px"><strong>${{ subscription.price | floatformat:0 }} /
                    month</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                  <li class="list-group-item">
                    {% if subscription.amount_of_aircrafts == 9999 %}
                      <span>Unlimited</span>
                    {% else %}
                      <span>{{ subscription.amount_of_aircrafts }}&nbsp;</span>
                    {% endif %}
                    Aircraft
                  </li>
                  <li class="list-group-item">
                    {% if subscription.amount_of_users == 9999 %}
                      <span>Unlimited</span>
                    {% else %}
                      <span>{{ subscription.amount_of_users }}&nbsp;</span>
                    {% endif %}
                    Staff/Users
                  </li>
                  <li class="list-group-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Logs
                  </li>
                  <li class="list-group-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Maintenance Forecasts
                  </li>
                  <li class="list-group-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Calendar
                  </li>
                </ul>
                <div class="panel-footer">
                  <input id="signup_{{ forloop.counter }}" type="submit" name="signup" value="BUY NOW »"
                         class="btn btn-lg btn-block btn-{{ subscription.color }}" data-sub-id="{{ subscription.id }}">
                </div>
              </div>
              <!-- /PRICE ITEM -->
            </div>
          {% endfor %}
        </div>
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
      </div>
    </form>
  </div>
{% endblock %}

{% block extra_body %}
  <script src="{% static "scripts/signup.js" %}"></script>
{% endblock %}