{% extends 'dashboard/base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Create Aircraft Maintanance Rule{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="panel panel-default">
      <form method="post">
        <div class="panel-body">
          {% crispy form %}
        </div>
        <div class="panel-footer">
          <a href="{% url 'aircraft-update' pk=aircraft_pk %}" class="btn btn-primary">Back to aircraft</a>
          <button type="submit" class="btn btn-success pull-right">
            {% if not object %}
              Create maintenance
            {% else %}
              Update maintenance
            {% endif %}
          </button>
        </div>
      </form>
    </div>

    {% if object %}
      {% with auditable=object %}
        {% include 'dashboard/auditable_part.html' %}
      {% endwith %}
    {% endif %}

  </div>
{% endblock %}