{% extends 'dashboard/base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Update Aircraft{% endblock %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="page-header">
            <h1>Update Aircraft
                <small>extend your fleet</small>
            </h1>
        </div>

        <div class="panel panel-default">
            <form method="post">
                <div class="panel-body">
                    {% crispy form %}
                    <div class="clearfix">&nbsp;</div>

                </div>
                <div class="panel-footer">
                    <a href="{% url 'aircraft-list' %}" class="btn btn-primary">Back to list</a>
                    <button type="submit" class="btn btn-success pull-right">Update aircraft</button>
                </div>
            </form>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Aircraft meter types</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th class="text-right">
                            <a href="{% url 'aircraft-meter-type-create' aircraft_pk=object.pk %}"
                               class="btn btn-success btn-sm">
                                New type
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for type in meter_types %}
                        <tr>
                            <td>{{ type }}</td>
                            <td class="text-right">
                                {% if type.allow_delete %}
                                    <a href="{% url 'aircraft-meter-type-update' aircraft_pk=object.pk pk=type.pk %}"
                                       class="btn btn-warning btn-sm">Update</a>
                                    <a href="{% url 'aircraft-meter-type-delete' aircraft_pk=object.pk pk=type.pk %}"
                                       class="btn btn-danger btn-sm">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>Found {{ meter_types | length }} type(s)</p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Logs</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Log Entry</th>
                        <th>Pilot</th>
                        <th>Comment</th>
                        <th>Parameters</th>
                        <th class="text-right">
                            <a href="{% url 'aircraft-log-entry-create' aircraft_pk=object.pk %}"
                               class="btn btn-success btn-sm">
                                New Log
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in logs %}
                        <tr>
                            <td>{{ log.entry_time|date:"SHORT_DATETIME_FORMAT" }}</td>
                            <td>{{ log.pilot }}</td>
                            <td>{{ log.comments | default:'-' }}</td>
                            <td>
                                <table>
                                    {% for param in log.custom_parameters.all %}
                                        <tr>
                                            <td>{{ param.meter_type.name }}</td>
                                            <td><strong style="padding-left:20px;">{{ param.value }}</strong></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                            <td class="text-right">
                                <a href="{% url 'aircraft-log-entry-update' aircraft_pk=object.pk pk=log.pk %}"
                                   class="btn btn-warning btn-sm">Update</a>
                                <a href="{% url 'aircraft-log-entry-delete' aircraft_pk=object.pk pk=log.pk %}"
                                   class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">No logs...</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>Found {{ logs | length }} log(s)</p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Maintenance</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Description</th>
                        <th>Every</th>
                        <th>Downtime</th>
                        <th>Alert now?</th>
                        <th>Last</th>
                        <th class="text-right">
                            <a href="{% url 'aircraft-maintenance-create' aircraft_pk=object.pk %}"
                               class="btn btn-success btn-sm">
                                New Rule
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rule in maintenances %}
                        <tr>
                            <td>{{ rule.description }}</td>
                            <td>
                                {% if rule.meter_increment %}
                                    {{ rule.meter_increment }} {{ rule.meter_type }}
                                {% else %}
                                    {{ rule.calendar_increment }} day(s)
                                {% endif %}</td>
                            <td>{{ rule.downtime_duration }} hr(s)</td>
                            <td>{{ rule.should_raise_alert }}</td>
                            <td>{{ rule.last_maintenance.entry_time|default:'-' }}</td>
                            <td class="text-right">
                                <a href="{% url 'aircraft-maintenance-update' aircraft_pk=object.pk pk=rule.pk %}"
                                   class="btn btn-warning btn-sm">Update</a>
                                <a href="{% url 'aircraft-maintenance-delete' aircraft_pk=object.pk pk=rule.pk %}"
                                   class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>Found {{ maintenances | length }} rule(s)</p>
            </div>
        </div>

        {% with auditable=object %}
            {% include 'dashboard/auditable_part.html' %}
        {% endwith %}

    </div>

{% endblock %}