{% extends 'dashboard/base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Create Aircraft Log Entry{% endblock %}

{% block extra_head %}
  {{ form.media }}
{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
      <h1>Create Aircraft Log Entry
        <small>for {{ aircraft }}</small>
      </h1>
    </div>
    <div class="panel panel-default">
      <form method="post">
        <div class="panel-body">
          {% crispy form %}
          <fieldset>
            <legend>Parameters</legend>
            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-4"><strong>Parameter</strong></div>
              <div class="col-md-4"><strong>Value *</strong></div>
            </div>
            {% for parameter in object.custom_parameters.all %}
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="controls">
                      <input class="form-control" type="text" disabled value="{{ parameter.meter_type.name }}">
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <div class="controls ">
                      <input class="form-control" step="0.5" name="param_{{ parameter.pk }}"
                             type="number" value="{{ parameter.value }}">
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </fieldset>
        </div>
        <div class="panel-footer">
          <a href="{% url 'aircraft-update' pk=aircraft_pk %}" class="btn btn-primary">Back to aircraft</a>
          <button type="submit" class="btn btn-success pull-right">
            {% if not object %}
              Create rule
            {% else %}
              Update rule
            {% endif %}
          </button>
        </div>
      </form>
    </div>

    {% with auditable=object %}
      {% include 'dashboard/auditable_part.html' %}
    {% endwith %}

  </div>
{% endblock %}