{% extends 'dashboard/base.html' %}

{% block head_title %}Manage Aircraft{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
      <h1>Manage Aircraft
        <small>your fleet</small>
      </h1>
    </div>
    {% if close_maintenances %}
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Required maintenances</h3>
        </div>
        <div class="panel-body">
          {% for maintenance in close_maintenances %}
            <ul class="col-md-12">
              <li>
                An aircraft <strong>{{ maintenance.aircraft }}</strong>
                require <span class="text-danger">{{ maintenance.downtime_duration }} hr(s)</span> maintenance
                <strong>{{ maintenance.description }}</strong>.
              </li>
            </ul>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="table-responsive table-bordered">
        <table class="table">
          <thead>
          <tr>
            <th>Registration number</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Name</th>
            <th class="text-center">is active</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          {% for aircraft in aircraft_list %}
            <tr>
              <td>{{ aircraft.registration_number }}</td>
              <td>{{ aircraft.manufacturer }}</td>
              <td>{{ aircraft.model }}</td>
              <td>{{ aircraft.name|default:"-" }}</td>
              <td class="text-center font130">
                {% if aircraft.is_active %}
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                {% else %}
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                {% endif %}
              </td>
              <td class="text-right">
                <a href="{% url 'aircraft-update' pk=aircraft.id %}" class="btn btn-sm btn-warning">Update</a>
                <a href="{% url 'aircraft-delete' pk=aircraft.id %}" class="btn btn-sm btn-danger">Delete</a>
              </td>
            </tr>
            </tbody>
          {% empty %}
            <tr>
              <td colspan="4">0 Aricrafts ...</td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class="panel-footer">
        {% if amount_of_aircraft >= subscription.amount_of_aircrafts %}
          <button class="btn btn-success disabled">Create aircraft</button>
          <small class="text-danger">Sorry, you've reached your limit! Extend your subscription.</small>
        {% else %}
          <a href="{% url 'aircraft-create' %}" class="btn btn-success">Create aircraft</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}