{% extends 'dashboard/base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Create Aircraft Meter Type{% endblock %}

{% block extra_head %}
  {{ form.media }}
{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
      <h1>Create Aircraft Meter Type
        <small>for {{ aircraft }}</small>
      </h1>
    </div>
    <div class="panel panel-default">
      <form method="post">
        <div class="panel-body">
          {% crispy form %}
        </div>
        <div class="panel-footer">
          <a href="{% url 'aircraft-update' pk=aircraft_pk %}" class="btn btn-primary">Back to aircraft</a>
          <button type="submit" class="btn btn-success pull-right">
            {% if not object %}
              Create type
            {% else %}
              Update type
            {% endif %}
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}