{% extends 'dashboard/base.html' %}

{% block head_title %}Delete event confirmation{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
      <h1>Delete Event
        <small></small>
      </h1>
    </div>
    <div class="panel panel-default">
      <form action="" method="post">{% csrf_token %}
        <div class="panel-body font130">
          Are you sure you want to delete <span class="text-danger">"{{ object }}" ?</span>
        </div>
        <div class="panel-footer">
          <a href="{% url 'event-update' pk=object.pk %}" class="btn btn-primary">Back to event</a>
          <input class="btn btn-danger pull-right" type="submit" value="Confirm"/>
        </div>
      </form>
    </div>
{% endblock %}