{% extends 'dashboard/base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}Create Invoice{% endblock %}

{% block extra_head %}
  {{ form.media }}
{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
      <h1>Create Invoice
        <small>profits</small>
      </h1>
    </div>

    <div class="panel panel-default">
      <form method="post">
        <div class="panel-body">
          {% crispy form %}
          {{ extras_formset.management_form }}
          <fieldset id="items-form-container">
            <legend>Extras</legend>
            {% for item_form in extras_formset %}
              <div id="item-{{ forloop.counter0 }}">
                {% crispy item_form %}
              </div>
            {% endfor %}
          </fieldset>
          <button type="button" id="add-item" class="btn btn-info btn-sm">Add Item</button>
          <button type="button" id="remove-last-item" class="btn btn-danger btn-sm">Remove last Item</button>
        </div>
        <div class="panel-footer">
          <a href="{% url 'invoice-list' %}" class="btn btn-primary">Back to list</a>
          <button type="submit" class="btn btn-success pull-right">Create Invoice</button>
        </div>
      </form>
    </div>

  </div>
{% endblock %}

{% block extra_body %}
  <!-- Empty formset -->
  <script type="text/html" id="item-template">
    <div id="item-__prefix__">
      {% crispy extras_formset.empty_form extras_formset.form.helper %}
    </div>
  </script>
  <!-- invoice JS handler -->
  <script src="{% static "scripts/invoice.js" %}"></script>
{% endblock %}