{% extends 'dashboard/base.html' %}

{% block head_title %}Manage Invoices{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
      <h1>Invoices
        <small>profits</small>
      </h1>
    </div>

    <div class="panel panel-default">
      <div class="table-responsive table-bordered">
        <table class="table">
          <thead>
          <tr>
            <th>#id</th>
            <th>Customer</th>
            <th>Status</th>
            <th class="text-right">Total</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          {% for invoice in invoice_list %}
            <tr>
              <td>{{ invoice.id }}</td>
              <td>{{ invoice.customer_name }}</td>
              <td>{{ invoice.get_status_display }}</td>
              <td class="text-right">${{ invoice.total|floatformat:"2" }}</td>
              <td class="text-right">
                <a href="{% url 'invoice-update' pk=invoice.id %}" class="btn btn-sm btn-warning">Update</a>
                <a href="{% url 'invoice-delete' pk=invoice.id %}" class="btn btn-sm btn-danger">Delete</a>
              </td>
            </tr>
            </tbody>
          {% empty %}
            <tr>
              <td colspan="5">0 Invoices ...</td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class="panel-footer">
        <a href="{% url 'invoice-create' %}" class="btn btn-success">Create Invoice</a>
      </div>
    </div>
  </div>
{% endblock %}