{% extends "dashboard/base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}Payments{% endblock %}

{% block extra_head %}
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript" src="{% static 'scripts/payments.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
      <h1>Payment
        <small>for subscription {{ subscription }}</small>
      </h1>
    </div>
    <form action="" method="POST" id="payment-form">

      {% crispy form %}
      <div class="row">
        <div class="col-md-2">
          <label>Amount</label>

          <div class="form-group">
            <input type="text" disabled value="${{ subscription.price }}" class="form-control">
          </div>
        </div>
      </div>
      <span class="payment-errors"></span>

      <div class="form-actions">
        <input type="submit" value="Submit payment" class="btn btn-primary" id="submit-id-accept">
      </div>
    </form>
    <div class="row">
      <div class="col-md-12">
        <p>Demo Stripe Payments Card numbers <a href="https://stripe.com/docs/testing">hre</a></p>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_body %}

{% endblock %}
