{% extends "dashboard/base.html" %}

{% block head_title %}Subscription{% endblock %}
{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
      <h1>Change subscription
        <small>only for administrator</small>
      </h1>
    </div>

    <div class="container pircing">
      <div class="row">
        {% for subscription in subscriptions %}
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

            <!-- PRICE ITEM -->
            <div class="panel price panel-{{ subscription.color }}">
              <div class="panel-heading arrow_box text-center">
                <h3>{{ subscription.name }}</h3>
              </div>
              <div class="panel-body text-center">
                <p class="lead" style="font-size:40px"><strong>${{ subscription.price | floatformat:0 }} /
                  month</strong></p>
              </div>
              <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                  {% if subscription.amount_of_aircrafts == 9999 %}
                    <span>Unlimited</span>
                  {% else %}
                    <span>{{ subscription.amount_of_aircrafts }}&nbsp;</span>
                  {% endif %}
                  Aircraft
                </li>
                <li class="list-group-item">
                  {% if subscription.amount_of_users == 9999 %}
                    <span>Unlimited</span>
                  {% else %}
                    <span>{{ subscription.amount_of_users }}&nbsp;</span>
                  {% endif %}
                  Staff/Users
                </li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  Logs
                </li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  Maintenance Forecasts
                </li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  Calendar
                </li>
              </ul>
              <div class="panel-footer">
                {% if subscription == current_subscription %}
                  <button class="btn btn-lg btn-block disabled btn-{{ subscription.color }}">
                    SELECTED
                  </button>
                {% else %}
                  <a href="{% url 'change-subscription' %}?sub_id={{ subscription.id }}"
                     class="btn btn-lg btn-block btn-{{ subscription.color }}">SELECT »</a>
                {% endif %}
              </div>
            </div>
            <!-- /PRICE ITEM -->
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}