{% extends 'dashboard/base.html' %}

{% block head_title %}Change subscription confirmation{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
      <h1>Change subscription
        <small>only for administrator</small>
      </h1>
    </div>
    <div class="panel panel-default">
      <form action="{% url 'change-subscription-confirm' pk=new_subscription.pk %}" method="post">{% csrf_token %}
        <div class="panel-body font130">
          Are you sure you want to change subscription <span class="text-danger">"{{ old_subscription }}"</span> to
          <span class="text-danger">"{{ new_subscription }}"</span> ?
        </div>
        <div class="panel-footer">
          <a href="{% url 'change-subscription' %}" class="btn btn-primary">Back</a>
          <input class="btn btn-danger pull-right" type="submit" value="Confirm"/>
        </div>
      </form>
    </div>
{% endblock %}