{% extends 'dashboard/base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Update User{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
      <h1>Update User
        <small>only for administrator</small>
      </h1>
    </div>

    <div class="panel panel-default">
      <form method="post">
        <div class="panel-body">
          {% crispy form %}
          {% crispy form2 %}
        </div>
        <div class="panel-footer">
          <a href="{% url 'company-users-list' %}" class="btn btn-primary">Back to list</a>
          <button type="submit" class="btn btn-success pull-right">Update user</button>
        </div>
      </form>
    </div>

  </div>
{% endblock %}