{% extends 'dashboard/base.html' %}

{% block head_title %}Manage Users{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
      <h1>Manage Users
        <small>only for administrator</small>
      </h1>
    </div>

    <div class="panel panel-default">
      <div class="table-responsive table-bordered">
        <table class="table">
          <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>E-Mail</th>
            <th class="text-center">Pilot?</th>
            <th class="text-center">Admin?</th>
            <th class="text-center">Active?</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          {% for user in user_list %}
            <tr>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
              <td class="text-center font130">
                {% if user.user_details.is_pilot %}
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                {% else %}
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                {% endif %}
              </td>
              <td class="text-center font130">
                {% if user.company_admin == user.company_account %}
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                {% else %}
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                {% endif %}
              </td>
              <td class="text-center font130">
                {% if user.is_active %}
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                {% else %}
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                {% endif %}
              </td>

              <td class="text-right">
                <a href="{% url 'company-user-update' pk=user.id %}" class="btn btn-sm btn-warning">Update</a>
                <a href="{% url 'company-user-delete' pk=user.id %}" class="btn btn-sm btn-danger">Delete</a>
              </td>
            </tr>
            </tbody>
          {% endfor %}
        </table>
      </div>
      <div class="panel-footer">
        {% if amount_of_users >= subscription.amount_of_users %}
          <button class="btn btn-success disabled">Create user</button>
          <small class="text-danger">Sorry, you've reached your limit! Extend your subscription.</small>
        {% else %}
          <a href="{% url 'company-user-create' %}" class="btn btn-success">Create user</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}