{% extends 'dashboard/base.html' %}

{% block head_title %}Delete user confirmation{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
      <h1>Delete user
        <small>only for administrator</small>
      </h1>
    </div>
    <div class="panel panel-default">
      {% if request.user != object %}
        <form action="" method="post">{% csrf_token %}
          <div class="panel-body font130">
            Are you sure you want to delete <span class="text-danger">"{{ object }}" ?</span>
          </div>
          <div class="panel-footer">
            <a href="{% url 'company-users-list' %}" class="btn btn-primary">Back to list</a>
            <input class="btn btn-danger pull-right" type="submit" value="Confirm"/>
          </div>
        </form>
      {% else %}
        <div class="panel-body font130">
          Sorry, you can not delete your own account.
        </div>
        <div class="panel-footer">
          <a href="{% url 'company-users-list' %}" class="btn btn-primary">Back to list</a>
        </div>
      {% endif %}
    </div>
{% endblock %}