{% extends 'dashboard/base.html' %}

{% block head_title %}Calendar{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
      <h1>Calendar
        <small>and events</small>
      </h1>
    </div>
    <div class="panel panel-default">
      <div class="table-responsive table-bordered">
        <table class="table">
          <thead>
          <tr>
            <th>Calendar name</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          {% for calendar in calendar_list %}
            <tr>
              <td><a href="{% url 'calendar-detail' pk=calendar.pk %}">{{ calendar.name }}</a></td>
              <td class="text-right">
                <a href="{% url 'calendar-detail' pk=calendar.pk %}" class="btn btn-sm btn-warning">Display</a>
                <a href="" class="btn btn-sm btn-danger">Delete</a>
              </td>
            </tr>
            </tbody>
          {% empty %}
            <tr>
              <td colspan="4">0 Calendars ...</td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class="panel-footer">
        Found {{ calendar_list | length }} calendar
      </div>
    </div>
  </div>
{% endblock %}