{% extends 'dashboard/base.html' %}

{% load staticfiles %}

{% block head_title %}Calendar{% endblock %}

{% block extra_head %}
  <link href="{% static "plugins/fullcalendar/fullcalendar.min.css" %}" rel="stylesheet">
  <link href="{% static "plugins/fullcalendar/fullcalendar.print.css" %}" rel="stylesheet" media="print">
{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
      <div class="btn-group" role="group" aria-label="">
        <a href="{% url 'event-create' pk=object.pk %}" type="button" class="btn btn-success">New Event</a>
        <button type="button" class="btn btn-default disabled">{{ object }}</button>
        <a href="{% url 'calendar-list' %}" type="button" class="btn btn-default">Calendar list</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

      </div>
    </div>
    <div>&nbsp;</div>
    <div class="row">
      <div id="calendar"></div>
    </div>
  </div>
{% endblock %}


{% block extra_body %}
  <script src="{% static "plugins/moment/moment.min.js" %}"></script>
  <script src="{% static "plugins/fullcalendar/fullcalendar.min.js" %}"></script>
  <script src="{% static "scripts/events.js" %}"></script>
  <script>
    init_calendar('{% url 'calendar-events' pk=object.pk %}');
  </script>
{% endblock %}