{% extends 'dashboard/base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}Event {{ object.title }}{% endblock %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="page-header">
            <h1>Event update
                <small>{{ object.title }}</small>
            </h1>
        </div>
        {% if collision %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-warning" role="alert">
                        <p><strong>Event collision in dates:</strong></p>
                        <table class="table table-bordered">
                            <tr class="warning">
                                <td>{{ object.title }}</td>
                                <td>{{ collision.1 }} - {{ collision.2 }}</td>
                            </tr>
                            <tr class="warning">
                                <td>{{ collision.0 }}</td>
                                <td>{{ collision.3 }} - {{ collision.4 }}</td>
                            </tr>
                        </table>
                        <p>Uncheck <strong>`Detect event collision`</strong> if you would like to save anyway</p>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <form method="post" id="event-form">
                <div class="panel-body">
                    {% crispy form %}
                    {% if repeat_form %}
                        {% crispy repeat_form %}
                    {% endif %}
                    <fieldset>
                        <legend>Estimate Parameters</legend>
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-md-4"><strong>Parameter</strong></div>
                            <div class="col-md-4"><strong>Value *</strong></div>
                        </div>
                        {% for parameter in object.custom_parameters.all %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="controls">
                                            <input class="form-control" type="text" disabled
                                                   value="{{ parameter.meter_type.name }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="controls ">
                                            <input class="form-control" step="0.5" name="param_{{ parameter.pk }}"
                                                   type="number" value="{{ parameter.value }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </fieldset>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'calendar-detail' pk=object.calendar.pk %}" class="btn btn-primary">Back to
                        calendar</a>
                    <a href="{% url 'event-delete' pk=object.pk %}" type="submit" class="btn btn-danger">Delete
                        Event</a>

                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Update Event</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script>
        var isMaintenance = {% if object.is_maintenance %}true{% else %}false{% endif %};
    </script>
    <script src="{% static "scripts/events-recurring.js" %}"></script>
{% endblock %}