{% extends 'dashboard/base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}Create Event{% endblock %}

{% block extra_head %}
  {{ form.media }}
{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
      <h1>Event create
        <small></small>
      </h1>
    </div>
    <div class="panel panel-default">
      <form method="post" id="event-form">
        <div class="panel-body">
          {% crispy form %}
          {% crispy repeat_form %}
            <fieldset>
            <legend>Estimate Parameters</legend>
            <div class="row" style="margin-bottom:10px;">
              <div class="col-md-4"><strong>Parameter</strong></div>
              <div class="col-md-4"><strong>Value *</strong></div>
            </div>
            {% for parameter in custom_parameters %}
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="controls">
                      <input class="form-control" type="text" disabled value="{{ parameter }}">
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <div class="controls ">
                      <input class="form-control" id="id_{{ parameter.pk }}" step="0.5" name="param_{{ parameter.pk }}"
                             type="number">
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </fieldset>
        </div>
        <div class="panel-footer">
          <a href="{% url 'calendar-detail' pk=calendar_pk %}" class="btn btn-primary">Back to calendar</a>
          <button type="submit" class="btn btn-success pull-right">Create event</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block extra_body %}
  <script>
    var isMaintenance = false;
  </script>
  <script src="{% static "scripts/events-recurring.js" %}"></script>
{% endblock %}