{% extends 'dashboard/base.html' %}

{% block head_title %}Delete Invoice confirmation{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
      <h1>Delete Invoice
        <small></small>
      </h1>
    </div>
    <div class="panel panel-default">
      <form action="" method="post">{% csrf_token %}
        <div class="panel-body font130">
          Are you sure you want to delete
          <span class="text-danger">"{{ object }} for {{ object.customer_name }}" ?</span>
        </div>
        <div class="panel-footer">
          <a href="{% url 'invoice-list' %}" class="btn btn-primary">Back to list</a>
          <input class="btn btn-danger pull-right" type="submit" value="Confirm"/>
        </div>
      </form>
    </div>
{% endblock %}