{% load staticfiles %}
{% load account %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block head_title %}{% endblock %} - Aviesc</title>
  <link href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "plugins/bootstrap/css/bootstrap-theme.min.css" %}" rel="stylesheet">
  <link href="{% static "styles/template.css" %}" rel="stylesheet">
  <script src="{% static "plugins/jquery/jquery-2.1.4.min.js" %}"></script>
  {% block extra_head %}{% endblock %}


</head>
<body>

{% block body %}
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Aviesc</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
            <li><a href="#">{{ request.user.get_full_name }}</a></li>
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>


  {% block sidebar %}<!-- no sidebar -->{% endblock %}
  {% block content %}<!-- no content -->{% endblock %}

{% endblock %}

{% if messages %}
  <div id="global-messages">
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}


<script src="{% static "plugins/bootstrap/js/bootstrap.min.js" %}"></script>
{% block extra_body %}{% endblock %}

</body>
</html>