{% extends "base.html" %}

{% block body %}
  <div id="home">
    <div class="row">
      <div class="col-md-12">
        <h1>Aviesc</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a href="{% url 'account_login' %}" class="btn btn-primary">Sign in</a>
        <span> or </span>
        <a href="{% url 'account_signup' %}" class="btn btn-info">Sign up</a>
      </div>
    </div>
  </div>
{% endblock %}