/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

#home {
    width: 400px;
    margin: 0 auto;
}

/* COMMON PRICING STYLES */
.container.pircing {
    margin-left: -15px;
}

.panel.price,
.panel.price > .panel-heading {
    border-radius: 0px;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.panel.price:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .2);
}

.panel.price:hover > .panel-heading {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .2) inset;
}

.panel.price > .panel-heading {
    box-shadow: 0px 5px 0px rgba(50, 50, 50, .2) inset;
    text-shadow: 0px 3px 0px rgba(50, 50, 50, .6);
}

.price .list-group-item {
    border-bottom-: 1px solid rgba(250, 250, 250, .5);
}

.price .list-group-item span {
    float: left;
}

.panel.price .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.panel.price .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.price .panel-footer {
    color: #fff;
    border-bottom: 0px;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 0px 3px 0px rgba(0, 0, 0, .3);
}

.price .panel-footer a {
    color: #fff;
}

.panel.price .btn {
    box-shadow: 0 -1px 0px rgba(50, 50, 50, .2) inset;
    border: 0px;
}

/* green panel */

.price.panel-green > .panel-heading {
    color: #fff;
    background-color: #57AC57;
    border-color: #71DF71;
    border-bottom: 1px solid #71DF71;
}

.price.panel-green > .panel-body {
    color: #fff;
    background-color: #65C965;
}

.price.panel-green > .panel-body .lead {
    text-shadow: 0px 3px 0px rgba(50, 50, 50, .3);
}

.price.panel-green .list-group-item {
    color: #333;
    background-color: rgba(50, 50, 50, .01);
    font-weight: 600;
    text-shadow: 0px 1px 0px rgba(250, 250, 250, .75);
}

/* blue panel */

.price.panel-blue > .panel-heading {
    color: #fff;
    background-color: #608BB4;
    border-color: #78AEE1;
    border-bottom: 1px solid #78AEE1;
}

.price.panel-blue > .panel-body {
    color: #fff;
    background-color: #73A3D4;
}

.price.panel-blue > .panel-body .lead {
    text-shadow: 0px 3px 0px rgba(50, 50, 50, .3);
}

.price.panel-blue .list-group-item {
    color: #333;
    background-color: rgba(50, 50, 50, .01);
    font-weight: 600;
    text-shadow: 0px 1px 0px rgba(250, 250, 250, .75);
}

/* red price */

.price.panel-red > .panel-heading {
    color: #fff;
    background-color: #D04E50;
    border-color: #FF6062;
    border-bottom: 1px solid #FF6062;
}

.price.panel-red > .panel-body {
    color: #fff;
    background-color: #EF5A5C;
}

.price.panel-red > .panel-body .lead {
    text-shadow: 0px 3px 0px rgba(50, 50, 50, .3);
}

.price.panel-red .list-group-item {
    color: #333;
    background-color: rgba(50, 50, 50, .01);
    font-weight: 600;
    text-shadow: 0px 1px 0px rgba(250, 250, 250, .75);
}

/* grey price */

.price.panel-grey > .panel-heading {
    color: #fff;
    background-color: #6D6D6D;
    border-color: #B7B7B7;
    border-bottom: 1px solid #B7B7B7;
}

.price.panel-grey > .panel-body {
    color: #fff;
    background-color: #808080;
}

.price.panel-grey > .panel-body .lead {
    text-shadow: 0px 3px 0px rgba(50, 50, 50, .3);
}

.price.panel-grey .list-group-item {
    color: #333;
    background-color: rgba(50, 50, 50, .01);
    font-weight: 600;
    text-shadow: 0px 1px 0px rgba(250, 250, 250, .75);
}

/* white price */

.price.panel-white > .panel-heading {
    color: #333;
    background-color: #f9f9f9;
    border-color: #ccc;
    border-bottom: 1px solid #ccc;
    text-shadow: 0px 2px 0px rgba(250, 250, 250, .7);
}

.panel.panel-white.price:hover > .panel-heading {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .05) inset;
}

.price.panel-white > .panel-body {
    color: #fff;
    background-color: #dfdfdf;
}

.price.panel-white > .panel-body .lead {
    text-shadow: 0px 2px 0px rgba(250, 250, 250, .8);
    color: #666;
}

.price:hover.panel-white > .panel-body .lead {
    text-shadow: 0px 2px 0px rgba(250, 250, 250, .9);
    color: #333;
}

.price.panel-white .list-group-item {
    color: #333;
    background-color: rgba(50, 50, 50, .01);
    font-weight: 600;
    text-shadow: 0px 1px 0px rgba(250, 250, 250, .75);
}

.btn-green {
    background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image: -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
    background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #3e8f3e;
}

.btn-green:hover,
.btn-green:focus {
    background-color: #419641;
    background-position: 0 -15px;
    color: #fff;
}

.btn-red {
    background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
    background-image: -o-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c12e2a));
    background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #b92c28;
}

.btn-red:hover,
.btn-red:focus {
    background-color: #c12e2a;
    background-position: 0 -15px;
    color: #fff;
}

.btn-blue {
    background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
    background-image: -o-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#2aabd2));
    background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #28a4c9;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #2aabd2;
    background-position: 0 -15px;
    color: #fff;
}

/* Fonts */
.font130 {
    font-size: 130%;
}

/* Message Frameworks */
#global-messages .alert {
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0;
    text-align: center;
}
#global-messages .alert li {
    list-style-type: none;
}

.col-md-2.extras-delete-checkbox {
    padding-top: 20px;
}


.fc-day-grid-event.fc-event.not-confirmed {
    background: gray;
}

.fc-day-grid-event.fc-event.event-maintenance.confirmed {
    background: #5cb85c;
    border-color: #4cae4c;
}