<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Informations</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
      <tr>
        <td>Created by</td>
        <td>{{ auditable.created_by }} ({{ auditable.created_ip }})</td>
      </tr>
      <tr>
        <td>Created on</td>
        <td>{{ auditable.created_on }}</td>
      </tr>
      <tr>
        <td>Modified by</td>
        <td>{{ auditable.modified_by }} ({{ auditable.modified_ip }})</td>
      </tr>
      <tr>
        <td>Modified on</td>
        <td>{{ auditable.modified_on }}</td>
      </tr>
      </thead>
    </table>
  </div>
</div>