{% extends 'base.html' %}

{% load activeurl %}

{% block sidebar %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        {% activeurl %}
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'dashboard' %}">Overview</a></li>
            {% if request.user.company_account.is_subscription_valid %}
              <li><a href="{% url 'aircraft-list' %}">Aircraft</a></li>
              <li><a href="{% url 'calendar-list' %}">Calendar</a></li>
              <li><a href="#">Customer</a></li>
              <li><a href="{% url 'invoice-list' %}">Invoice</a></li>
              <li><a href="#">Receipt</a></li>
              {% if request.user.company_account == request.user.company_admin %}
                <li><a href="{% url 'company-users-list' %}">Manage Users</a></li>
              {% endif %}
            {% endif %}
          </ul>
        {% endactiveurl %}
      </div>
    </div>
  </div>
{% endblock %}