{% extends "dashboard/base.html" %}

{% load crispy_forms_tags %}

{% block head_title %}Company settings{% endblock %}

{% block extra_head %}
  {{ form.media }}
{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-header">
      <h1>Company
        <small>manage your business</small>
      </h1>
    </div>
    <form method="post" enctype="multipart/form-data">
      <div class="panel-body">
        {% crispy form %}
        <div class="clearfix">&nbsp;</div>

      </div>
      <div class="panel-footer">
        <a href="{% url 'dashboard' %}" class="btn btn-primary">Back</a>
        <button type="submit" class="btn btn-success pull-right">Update Company</button>
      </div>
    </form
  </div>
{% endblock %}