{% extends "dashboard/base.html" %}

{% block head_title %}Dashboard{% endblock %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Basic informations</h3>
                </div>

                <table class="table">
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ request.user.get_full_name }}</td>
                    </tr>
                    <tr>
                        <td>Company name</td>
                        <td>{{ company_account.company_name }}</td>
                    </tr>
                    <tr>
                        <td>Company admin</td>
                        <td>
                            {% for admin in company_account.admins.all %}
                                <a class="" href="mailto:{{ admin.email }}">
                                    {{ admin.get_full_name }}
                                </a>
                                {% if not forloop.last %}
                                    <span> / </span>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>
                {% if request.user.company_admin == company_account %}
                    <div class="panel-footer">
                        <a href="{% url 'company-settings' %}" class="btn btn-info">Company settings</a>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if request.user.company_admin == company_account %}
            <div class="col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Subscription </h3>
                    </div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Plan</td>
                            <td>{{ company_account.subscription }}</td>
                        </tr>
                        {% if company_account.subscription.price == 0 %}
                            <tr>
                                <td>Status</td>
                                <td class="text-success">VALID</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Valid until</td>
                                <td>
                                    <span>{{ company_account.subscription_valid_until|date:"SHORT_DATE_FORMAT" }}</span>
                                    {% if company_account.is_subscription_valid %}
                                        <small class="text-success">
                                            ({{ company_account.subscription_valid_until|timeuntil }})
                                        </small>
                                    {% else %}
                                        <span class="text-danger">EXPIRED</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    <div class="panel-footer text-right">
                        <a href="{% url 'change-subscription' %}" class="btn btn-info">Change subscription</a>
                        <a href="{% url 'pay-for-subscription' %}"
                           class="btn btn-danger {% if company_account.is_subscription_valid %}disabled{% endif %}">Pay
                            now</a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if request.user.company_admin == company_account %}
            <!-- Payments History -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Payments History</h3>
                    </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Description</th>
                            <th>Payment date</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for payment in payments %}
                            <tr>
                                <td>{{ payment.description }}</td>
                                <td>{{ payment.date_succeeded }}</td>
                                <td>${% widthratio payment.amount 100 1 %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        {% endif %}
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Upcoming Events</h3>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Calendar</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in upcoming_events %}
                        <tr>
                            <td>{{ event.title }}</td>
                            <td><a href="{% url 'calendar-detail' pk=event.calendar.pk %}">{{ event.calendar }}</a></td>
                            <td>{{ event.start }} - {{ event.end }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Aircraft maintenance forecaster</h3>
                </div>
                <table class="table">
                    {% for maintenance in close_maintenances %}
                        <tr>
                            <td>
                                <a href="{% url 'aircraft-maintenance-update' aircraft_pk=maintenance.maintenance.aircraft.pk pk=maintenance.maintenance.pk %}">
                                    {{ maintenance.maintenance }}
                                </a>, {{ maintenance.start }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}