{% extends "dashboard/base.html" %}

{% block head_title %}Profile{% endblock %}
{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="page-header">
      <h1>Profile <small>manage your account</small>
      </h1>
    </div>
  </div>
{% endblock %}